@charset 'utf8';
:root {
    --base-width: 350px;
}

* {
    margin: 0;
    padding: 0;
}

.drop-area {
    background-color: #efefef;
    border: 3px dotted #ccc;
    border-radius: 10px;
    width: var(--base-width);
    aspect-ratio: 3 / 2;
    margin: 1rem auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


.file-select-button {
    display: inline-block;
    text-align: center;
    margin-inline: auto;
    padding: 0.2rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
}

#dropped-files {
    display: none;
}


/* file list */
.file-list-ul {
    width: var(--base-width);
    margin-inline: auto;
    list-style: none;
}
.file-list-li {
    width: 100%;
    padding: 0.2rem 0;
    border-bottom: 1px solid #efefef;
}